@using AlumniMis.Data.DataTable

@{
    ViewBag.Title = "校友捐赠";
    List<Donate> donates = ViewBag.Donates as List<Donate>;
}

<style>
    .mainbg{
        background:#fff;
        padding:30px;
    }
    .select-topic{
        margin-top:15px;
        width:100%;
    }
    .add{
        float:right;
        margin-right:10px;
        cursor:pointer;
    }
    .add img{
        margin-top:-2px;
        margin-right:4px;
    }
    .donate-list{
        height:193px;
        margin:10px;
        border:1px solid #ccc;
    }
    .donate-detail{
        width:100%;
        height:24px;
        border-bottom:1px dashed  #ccc;
        line-height:24px;
        padding:0 5px;
        cursor:pointer;
        position: relative;
    }
    .donate-detail .delete-item {
        position: absolute;
        right: 2px;
        top: -1px;
        cursor: pointer;
        z-index: 9999;
    }
    .donate-detail div{
        float:left;

    }
    .donate-detail  .donate-tit{
        width:55%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        text-align:center;
    }
    .donate-detail .donate-aut{
        width:15%;
        text-align:center;
    }
    .donate-detail .donate-time{
        float:right;
        width:15%;
        text-align:center;
    }

    .donate-detail .donate-pop{
        width:15%;
        text-align:center;
    }
</style>

<div class="">
    您的位置：<a href="/Donate/DonateList" class="user-address">校友捐赠</a> <em>&#62</em> 捐赠列表
</div>
<div class="select-topic">
    <label>搜索捐赠项目</label>
    <input type="text" class="form-text-normal">
    <div class="add" onclick="window.location.href= '/Donate/DonateCreate';return false">
        <img src="~/Content/images/btn_teacher_add.png" width="20" height="20"/><span>创建新的捐赠项目</span>
    </div>
</div>
<div class="donate-list">
    <div class="donate-detail">
        <div class="donate-tit">捐赠项目</div><div class="donate-aut">发布者</div><div class="donate-pop">人气指数</div>
        <div class="donate-time">发布时间</div>
    </div>
    @if (donates != null && donates.Count > 0)
    {
        foreach (var donate in donates)
        {
            <div class="donate-detail" onclick="window.location.href= '/Donate/DonateDetail/@donate.Id';return false">
                <div class="donate-tit">@donate.Dname</div><div class="donate-aut">@donate.Dpuber</div><div class="donate-pop">@donate.Dstatus</div>
                <div class="donate-time">@donate.Dpub.ToString("yyyy-MM-dd")</div>
                <!--只有管理员才能看到这个删除按钮，删除这条信息--> 
                <div class="delete-item"><img src="~/Content/images/icon_delete_1.png" onclick="deletedonate(@donate.Id)"/></div>
            </div>       
        }
    }
</div>

<script type="text/javascript">
    $(function($) {
        $("#alumni_navbar5").addClass("nav-current");
        $(".second-menu").hide();
    });
    var deletedonate = function(id)
    {
        /*var ajax = {
            url: "/Donate/DeleteDonate/"+id,
            type: 'Post',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            cache: false,
            success: function () {
                window.location.href = "/Donate/DonateList";
            }
        }
        $.ajax(ajax);*/
        $.post("/Donate/DeleteDonate/" + id,
            function() {
                window.location.href = "/Donate/DonateList";
            });
    }
</script>